{% extends "layout.html" %}




{% block head %}
{{ super() }}
<script src="/static/lazyload.min.js"></script>
<script>
    if (localStorage.getItem("blockSize") === null) {
        localStorage.setItem("blockSize", 250);
    }
    var size = parseInt(localStorage.getItem("blockSize"));

    var root = document.documentElement;
    root.style.setProperty('--block-size', size + "px");

    window.onload=function(){
        var btnDown = document.getElementById('btnDown');
        if (btnDown) {
            btnDown.addEventListener('click', e => {
                size -= 20
                root.style.setProperty('--block-size', size + "px");
                localStorage.setItem("blockSize", size);
            })
        }
        var btnUp = document.getElementById('btnUp')
        if (btnUp) {
            btnUp.addEventListener('click', e => {
                size += 20
                root.style.setProperty('--block-size', size + "px");
                localStorage.setItem("blockSize", size);
            });
        }
    }
</script>
<style type="text/css">
    .blocks {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, var(--block-size));
        grid-template-rows: repeat(auto-fill, var(--block-size));
        margin: 0 auto;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
    .block {
        width: var(--block-size);
        height: var(--block-size);
        border: 1px solid #f0f0f0;
        background: url('/static/background.png');
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .channel, .image, .text, .link, .media, .attachment, .overlay {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .channel, .image, .media, .attachment {
        justify-self: center;
        align-self: center;
    }
    .channel {
        padding: 1rem;
    }
    .channel p {
        margin: 0 0 .25em;
        text-align: center;
    }
    .channel .title.public {
        color:rgb(0, 180, 0);
    }
    .channel .title.private {
        color:rgb(255, 0, 0);
    }
    .channel .title.closed {
        color:rgb(0, 0, 255);
    }
    .channel .title {
        font-size: 1.5rem;
        font-weight: 300;
    }
    .block img {
        width: var(--block-size);
        height: var(--block-size);
        object-fit: scale-down;
    }
    .text {
        padding: .5rem;
        overflow: hidden;
    }

    .block .overlay {
        justify-self: stretch;
        align-self: stretch;
        background: rgba(255, 255, 255, 0.9);
        visibility: hidden;
        width: var(--block-size);
        height: var(--block-size);
        display: grid;
        grid-template-areas:
            'e'
            'a'
            'a'
            'a'
            'c'
            'd'
            'b'
            'b';
        justify-items: center;
        align-items: center;

    }
    .block:hover .overlay {
        visibility: visible;
    }
    .overlay > * {
        max-width: 100%;
        overflow: hidden;
        padding: .3rem;
        box-sizing: border-box;
        text-align: center;
    }
    .overlay ul {
        display: inline;
    }
    .overlay li {
        display: inline;
    }
    .overlay li + li {
        margin-left: .3rem;
    }
    .overlay .links {
        grid-area: a;
    }
    .overlay .title {
        grid-area: c;
    }
    .overlay .source {
        grid-area: d;
    }
    .overlay .meta {
        grid-area: e;
        text-align: left;
        justify-self: start;
        align-self: start;
    }
    .overlay .title, .overlay .source {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .overlay .channels {
        grid-area: b;
        overflow: hidden;
    }
    a.public-channel {
        color:rgb(0, 180, 0);
    }
    a:hover.public-channel {
        color:rgb(0, 77, 0);
    }
    a.private-channel {
        color:red;
    }
    a:hover.private-channel {
        color:darkred;
    }
    a.closed-channel {
        color:blue;
    }
    a:hover.closed-channel {
        color:darkblue;
    }
    .overlay .channels a+a::before {
        content: "\00a0/\00a0";
        color: #777;
    }
</style>
{% endblock %}




{% block nav %}
<ul>
    <li><a href="https://are.na" target="_blank">&#10033;&#10033;</li>
    <li>&nbsp;</li>
    {% if this_channel %}
        <li><a href="https://are.na/{{ this_channel.user_slug }}/{{ this_channel.slug }}" target="_blank">{{ this_channel.title }} ({{ this_channel.length }})</li>
    {% endif %}
    <li>
        {% if pagination_previous %}
            <a href="{{ pagination_previous }}"><i class="fa fa-arrow-left"></i></a>&nbsp;&nbsp;
        {% endif %}
        {% if pagination_next %}
            <a href="{{ pagination_next }}"><i class="fa fa-arrow-right"></i></a>
        {% endif %}
        &nbsp;
    </li>
    <li>
        <a id="btnDown" href="javascript:;"><i class="fa fa-th"></i></a>
        &nbsp;&nbsp;<a id="btnUp" href="javascript:;"><i class="fa fa-th-large"></i></a>
    </li>
    <li>&nbsp;</li>
    <li><a href="/blocks">All</a></li>
    {% for channel in channels %}
    <li><a href="/blocks?channel={{ channel.id }}" class="{{ channel.status + "-channel" }}">{{channel.title}}</a></li>
    {% endfor %}
</ul>
{% endblock %}




{% block content %}
<div class="blocks">
    {% for block in blocks %}

    <div class="block">
        <div class="{{ block.data.class|lower }}">

            {% if block.data.class == "Channel" %}
                <p class="title {{ block.data.status }}">{{ block.data.title }}</p>
                <p class="author">by {{ block.data.user_full_name }}</p>
                <p class="count">{{ block.data.length }} blocks</p>
            {% endif %}

            {% if 'image_original_url' in block.data %}
                <img class="lazy" data-src="{{ block.data.image_original_url }}" />
            {% endif %}

            {% if block.data.class == "Attachment" and 'gcs_webm_thumb' in block.data %}
                <img class="lazy" data-src="{{ block.data.gcs_webm_thumb }}" />
            {% endif %}

            {% if block.data.class == "Text" %}
                {{ block.data.content }}
            {% endif %}
        </div>
        <div class="overlay">
            {% if 'title' in block.data and block.data.class != "Channel" %}
                <div class="title">
                    {{ block.data.title }}
                </div>
            {% endif %}

            {% if 'connected_at' in block.data or 'class' in block.data %}
                <div class="meta">
                    <ul>
                        {% if 'connected_at' in block.data %}
                            <li>{{ block.data.connected_at[0:10] }}</li>
                        {% endif %}
                        
                        {% if 'class' in block.data %}
                            <li>{{ block.data.class }}</li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}

            {% if 'source_url' in block.data %}
                <div class="source">
                    <a href="{{ block.data.source_url }}" target="_blank">
                        <i class="fa fa-link"></i> {{ block.data.source_provider_name or block.data.source_url }}
                    </a>
                </div>
            {% endif %}

            <div class="channels">
                {% for channel in block.channels -%}
                    <a title="{{ channel.title }}" class="{{ channel.status + "-channel" }}" href="/blocks?channel={{ channel.id }}">
                        {{ channel.title }}
                    </a>
                {%- endfor %}
            </div>

            <div class="links">
                <ul>
                    {% if block.data.class == "Channel" %}
                        <li><a href="https://www.are.na/{{ block.data.user_slug }}/{{ block.data.slug }}" target="_blank">Arena</a></li>
                    {% else %}
                        <li><a href="https://www.are.na/block/{{ block.data.id }}" target="_blank">Arena</a></li>
                    {% endif %}

                    <li><a href="/jsonblock/{{ block.data.id }}" target="_blank">Json</a></li>

                    {% if 'image_original_url' in block.data %}
                        <li><a href="{{ block.data.image_original_url }}" target="_blank">Image</a></li>
                    {% endif %}

                    {% if 'attachment_url' in block.data %}
                        <li><a href="{{ block.data.attachment_url }}" target="_blank">Attch</a></li>
                    {% endif %}

                    {% if 'gcs_youtubedl_url' in block.data %}
                        <li><a href="{{ block.data.gcs_youtubedl_url }}" target="_blank">CGS</a></li>
                    {% endif %}

                    {% if 'gcs_webm' in block.data %}
                        <li><a href="{{ block.data.gcs_webm }}" target="_blank">GCS</a></li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>
    {% endfor %}

    {% if pagination_previous %}
        <div><a href="{{ pagination_previous }}">Previous</a></div>
    {% endif %}

    {% if pagination_next %}
        <div><a href="{{ pagination_next }}">Next</a></div>
    {% endif %}

</div>
{% endblock %}




{% block before_end_body %}
<script>
    (function() {
        var ll = new LazyLoad({
            elements_selector: ".lazy"
        });
    })();
</script>
{% endblock %}